<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    backupGlobals="false"
    verbose="false">
    <testsuites>
        <testsuite name="all">
            <directory>tests/JWT</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/JWT</directory>
        </whitelist>
    </filter>
</phpunit>

