<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    backupGlobals="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="false">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="JWT">
            <directory>tests/JWT</directory>
        </testsuite>
        <testsuite name="RSA">
            <directory>tests/RSA</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>

